# 데이터셋 폴더 제외
dataset/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
*.egg-info/
.eggs/
dist/
build/

# Jupyter Notebook
.ipynb_checkpoints/

# macOS
.DS_Store
.AppleDouble
.LSOverride

# IDE
.idea/
.vscode/
*.swp
*.swo

# Virtual Environment
venv/
env/
.env/
